<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.com.mapper.PersonsMapper">
    <sql id="Base_ColumnList">
        P_id,LastName,FirstName,Address,City
    </sql>
    <select id="getPerson" parameterType="_Persons"
            resultType="_Persons">
        select P_id id,LastName L_name,FirstName F_name,Address A_addres,City C_city from Persons where P_id=#{id}
    </select>
    <select id="getPesonsResultMap" parameterType="_Persons" resultMap="PersonsResultMap">
        select
        <include refid="Base_ColumnList" />
         from Persons where P_id=#{id}
    </select>
    <insert id="insertPesonsResultMap" parameterType="_Persons" >
        insert into Persons (LastName,FirstName,Address,City) values(#{L_name},#{F_name},#{A_addres},#{C_city})
    </insert>
    <!--
       resultMap 是封闭一些映射关系;
       id 专对针对主建
       result 针对一般字段
    -->
    <resultMap id="PersonsResultMap" type="_Persons">
        <id property="id" column="P_id"/>
        <result property="L_name" column="LastName"/>
        <result property="F_name" column="FirstName"/>
        <result property="A_addres" column="Address"/>
        <result property="C_city" column="City"/>
    </resultMap>
</mapper>